<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
<nav th:replace="~{fragments :: header}"></nav>

<div class="container">
    <h1> Add Travel Inspiration </h1>
    <p> Use the form below to save travel inspiration ideas. You can add embed links for YouTube, TikTok or Instagram. </p>

    <form method="post" style="max-width:600 px">
        <label for="url">Paste the embed link: </label>
        <input type="text" id="url" name="url"><br>

        <div class="form-group">
            <p> What type of video is this? </p>
                <input type="radio" id="youtube" name="contentSource" value="youtube">
                <label for="youtube">YouTube</label><br>
                <input type="radio" id="tiktok" name="contentSource" value="tiktok">
                <label for="tiktok">TikTok</label><br>
                <input type="radio" id="instagram" name="contentSource" value="instagram">
                <label for="instagram">Instagram</label><br>
        </div>

        <label for="notes">Enter any notes here: </label>
        <input type="text" id="notes" name="notes"></br>

        <div class="form-group">
            <p> Which vacation is this inspiration for? </p>
            <th:block th:each="vacation : ${vacations}">
                <input type="radio" name="vacationId" th:value="${vacation.id}">
                <label th:text="${vacation.city}"></label><br>
            </th:block>
        </div>

        <input type="submit" value="Save">
    </form>
</div>

</body>
</html>