<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>


<nav th:replace="~{fragments :: header}"></nav>

<!-- TO:DO- Edit form once database is set up!-->

<head>
    <meta charset="UTF-8">
    <title>Nomad Nirvana</title>
</head>
<body>
    <form th:action="@{url}" method="post">
        <h1>Create Account</h1>
        <label>Username:<input th:field="${registrationFormDTO.username}"/></label>
        <p class="error" th:errors="${registrationFormDTO.username}"></p>
        <label>First Name:<input th:field="${registrationFormDTO.firstName}"/></label>
        <p class="error" th:errors="${registrationFormDTO.firstName}"></p>
        <label>Last Name:<input th:field="${registrationFormDTO.lastName}"/></label>
        <p class="error" th:errors="${registrationFormDTO.lastName}"></p>
        <label>Email:<input th:field="${registrationFormDTO.email}"/></label>
        <p class="error" th:errors="${registrationFormDTO.email}"></p>
        <label>Password:<input th:field="${registrationFormDTO.password}" type="password"/></label>
        <p class="error" th:errors="${registrationFormDTO.password}"></p>
        <label>Confirm Password:<input th:field="${registrationFormDTO.verifyPassword}" type="password" /></label>
        <p class="error" th:errors="${registrationFormDTO.verifyPassword}"></p>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>