<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>


<nav th:replace="~{fragments :: header}"></nav>

<!-- TO:DO- Edit form once database is set up!-->

<head>
    <meta charset="UTF-8">
    <title>Nomad Nirvana</title>
</head>
<body>
    <div>
        <h1>Create Account</h1>
        <label>Email or Username:<input type="text" name="userNameOrEmail"/></label>
        <label>Password:<input type="password" name="userPassword"/></label>
        <label>Confirm Password:<input type="password" name="userConfirmPassword"/></label>
        <input type="submit" value="Create Account"/>
    </div>
</body>
</html>