<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>


<nav th:replace="~{fragments :: header}"></nav>

<!-- TO:DO- Edit form once database is set up!-->

<head>
    <meta charset="UTF-8">
    <title>Nomad Nirvana</title>
</head>
<body>
    <form method="post">
        <h1>Create Account</h1>
        <label>Username:<input th:field="${user.username}"/></label>
        <p class="error" th:errors="${user.username}"></p>
        <label>First Name:<input th:field="${user.firstName}"/></label>
        <p class="error" th:errors="${user.firstName}"></p>
        <label>Last Name:<input th:field="${user.lastName}"/></label>
        <p class="error" th:errors="${user.lastName}"></p>
        <label>Email:<input th:field="${user.email}"/></label>
        <p class="error" th:errors="${user.email}"></p>
        <label>Password:<input th:field="${user.password}" type="password"/></label>
        <p class="error" th:errors="${user.password}"></p>
        <label>Confirm Password:<input name="confirmUserPassword" type="password" /></label>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>