<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>

<body>
<nav th:replace="~{fragments :: header}"></nav>

<div class="container">
    <h1> Delete Vacation </h1>
    <form method="post">
        <div class="form-group">
            <th:block th:each="vacation : ${vacations}">
                <input type="radio" name="deletedVacation" th:value="${vacation.id}">
                <label th:text="${vacation.city}"></label><br>
            </th:block>
        </div>

        <input type="submit" value="Delete Selected Vacation" class="btn btn-danger">
    </form>

</div>

</body>
</html>