<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Nomad Nirvana</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</head>

<div th:fragment="header" class="navbar navbar-expand-sm bg-dark navbar-dark">

        <nav class="navbar-header">
            &nbsp;&nbsp;<a th:href="@{/}" class="navbar-brand">Nomad Nirvana</a>&nbsp;

        </nav>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>&nbsp;
                    <li class="nav-item"><a class="nav-link" href="/profile">My Profile</a></li>&nbsp;
                    <li class="nav-item"><a class="nav-link" href="/add-vacation">Add Vacation</a></li>&nbsp;
                    <li class="nav-item"><a class="nav-link" href="/delete-vacation">Delete Vacation</a></li>&nbsp;
                    <li class="nav-item"><a class="nav-link" href="/add-activity">Add Trip Inspiration</a></li>&nbsp;
                    <li class="nav-item"><a class="nav-link" href="/delete-activity">Delete Trip Inspiration</a></li>&nbsp;
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>

                </ul>

</div>

</html>