<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}">
</head>

<nav th:replace="~{fragments :: header}"></nav>

<body>

<div class="container body-content">

    <section class="vacationInfo">

        <h2 class="indexHeader">My Vacations</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vacations</th>
                        </tr>
                    </thead>
                    <tr th:each="vacation: ${vacations}">
                        <td>
                            <a th:text="${vacation.city}" th:href="@{'/view/' + ${vacation.id}}"> </a>
                        </td>
                    </tr>
                </table>

        <div class="indexNav">

<!--            If there are no vacations entered, the page will display the "Oops, no vacations here" message.-->

            <p th:unless="${vacations} and ${vacations.size()}">Oops! No vacations here.</p>
            <a th:href="@{'/add-vacation'}" class="btn btn-info" role="button">Add Vacation</a>&nbsp;
            <a th:href="@{'/edit-vacation'}" class="btn btn-info" role="button">Edit Vacation</a>
            <a th:href="@{'/delete-vacation'}" class="btn btn-danger" role="button">Delete Vacation</a>&nbsp;&nbsp;
        </div>
</section>

<!--TO-DO: Add favorite/like functionality-->
<!--<div>-->
<!--    <script>-->
<!--    LikeButton()-->
<!--    </script>-->
<!--</div>-->
<!--TO-DO: Add number of likes-->

<section class="video-container" th:if="${activities.size()}">

    <div th:each="activity: ${activities}">

        <iframe width="560" height="315" th:src="${activity.embedUrl}" allowfullscreen></iframe>

    </div>

</section>

    <div class="activityNav">
        <a th:href="@{'/add-activity'}" class="btn btn-info" role="button">Add Trip Inspiration</a>&nbsp;
        <a th:href="@{'/delete-activity'}" class="btn btn-danger" role="button">Delete Trip Inspiration</a>&nbsp;
    </div>

</div>

</body>
</html>