<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>
<body>

<nav th:replace="~{fragments :: header}"></nav>

<div class="container body-content">
    <h2>My Vacations</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Vacations</th>
                    </tr>
                </thead>
                <tr th:each="vacation: ${vacations}">
                    <td th:text="${vacation.city}"></td>
                </tr>
            </table>

            <p th:unless="${vacations} and ${vacations.size()}">Oops! No vacations here.</p>
            <a th:href="@{'/add-vacation'}">Add Vacations</a>

</div>

<!--TO-DO: Add favorite/like functionality-->

<!--TO-DO: Add number of likes-->

<!--TO-DO: Add dropdown select for vacations-->

<!-- TO-DO: Add countdown-->

<!-- TO-DO: Add weather API-->

<!-- TO-DO: Add local time API-->

<!-- TO-DO: Add Spotify API-->

<!--TO-DO: Add destinations. Could embed videos (Tik-Tok, YouTube, or ask user for photo and caption)-->


</body>
</html>