<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}"></head>
<body>

<nav th:replace="~{fragments :: header}"></nav>

<div class="container body-content">
    <h2>My Vacations</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Vacations</th>
                    </tr>
                </thead>
                <tr th:each="vacation: ${vacations}">
                    <td th:text="${vacation.city}"></td>
                </tr>
            </table>

            <p th:unless="${vacations} and ${vacations.size()}">Oops! No vacations here.</p>
            <a th:href="@{'/add-vacation'}">Add Vacations</a>

</div> <br><br>

<!--TO-DO: Add favorite/like functionality-->

<!--TO-DO: Add number of likes-->

<!--TO-DO: Add dropdown select for vacations-->

<!-- TO-DO: Add countdown. Started with form, will add js for countdown-->
<p id="countdownTimer" th:if="${dateInput}"></p>

<form method="post" style= "container" id="vacationCountdown" th:if="${dateInput == null} and ${vacations.size()}">
    <label for="dateInput">Please enter the date of your vacation: </label>
    <input type="date" id="dateInput" name="vacationDate">

    <p> Where will you be going? </p>

    <div class="form-group">
        <label th:for="vacations">Destinations</label>
        <th:block th:each="vacation : ${vacations}">
            <input type="radio" name="selectedVacation" th:value="${vacation.id}">
            <label th:text="${vacation.city}"></label><br>
        </th:block>
    </div><br>
    <button type="submit">Create Vacation Countdown</button>
</form>


<!-- TO-DO: Add weather API-->

<!-- TO-DO: Add local time API-->

<!-- TO-DO: Add Spotify API-->

<!--TO-DO: Add destinations. Could embed videos (Tik-Tok, YouTube, or ask user for photo and caption)-->


</body>
</html>