<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: head}"></head>


<nav th:replace="~{fragments :: header}"></nav>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

<div>
    <h1>Login:</h1>

    <form action="/login" method="post">
        <label>Email or Username:</label>
        <input type="text" name="email" />

        <label>Password:</label>
        <input type="password" name="password" />

        <input type="submit" value="Login">
    </form>

</div>
<div>
    <a href="/create_account">Create Account</a>
</div>

</body>
</html>
