<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <header>
    <h1>User Profile</h1>
    </header>
    <h2>Personal Information</h2>
    <p><strong>Username: </strong></p><p th:field="${user.username}"></p>
    <p><strong>Name: </strong></p> <p th:field="${user.name}"></p>
    <p><strong>Location: </strong>${user.location}</p> <p th:field="${user.email}"></p>
    <p><strong>Vacations Taken: </strong>${user.numOfVacations}</p> <p th:field="${user.passwordHash}"></p>
</body>
</html>

