<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">


<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Nomad Nirvana</title>

</head>
<body>
<nav th:replace="~{fragments :: header}"></nav>
        <h1> Weather </h1>
            <pre th:text="${jsonString}">
            </pre>


</body>
</html>
<!--            <h3><strong>Temperature:</strong></h3>-->
<!--            <p>Minimum: ${weatherInformation.temperature.minimum.value} ${weatherInformation.temperature.minimum.unit}</p>-->
<!--            <p>Maximum: ${weatherInformation.temperature.maximum.value} ${weatherInformation.temperature.maximum.unit}</p>-->

<!--            <h3><strong>Day Information:</strong></h3>-->
<!--            <p>Icon: ${weatherInformation.day.icon}</p>-->
<!--            <p>Icon Phrase: ${weatherInformation.day.iconPhrase}</p>-->
<!--            <p>Has Precipitation: ${weatherInformation.day.hasPrecipitation}</p>-->
<!--            <p>Precipitation Type: ${weatherInformation.day.precipitationType}</p>-->
<!--            <p>Precipitation Probability: ${weatherInformation.day.precipitationProbability}</p>-->