<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head}">
</head>

<nav th:replace="~{fragments :: header}"></nav>

<body>

<div class="container body-content">

    <section class="vacationInfo">

        <h2 class="viewHeader" th:text="${'My Vacation To: ' + vacation.city + ', ' + vacation.country}">View Vacation</h2>
        <ul>

<!--            State is optional, so this only displays if the user filled that field out.-->

            <li th:if="${vacation.state != ''}" th:text="${vacation.state}"></li>

<!--            The temporals.format was used to format vacationDate to a more user-friendly display-->

            <li th:text="${#temporals.format(vacation.vacationDate, 'MM-dd-yyyy')}"></li>

        </ul>
    </section>

    <section class="countdownSection">

<!--        This first div contains the styling for the countdown widget and links to the tickcounter site-->

        <div id="countdownContainer" style="display: none;">
            <a data-type="countdown"
               data-name="Time for vacation in:"
               data-bg_color="#97B8FF"
               data-name_color="#008922"
               data-border_color="#888888"
               data-dt=""
               data-timezone="America/Chicago"
               style="display:block; left:0; width:80%; height:100px; position:relative; padding-bottom:0; margin:0 auto;"
               class="tickcounter"
               href="//www.tickcounter.com"
            >Countdown</a>
        </div>

<!--        The js code below pulls the vacation date from the vacation object and passes it into the countdown function. The loadTickCounterStript is logic provided by the tickcounter widget to create a countdown from the provided date.-->

        <script th:inline="javascript">
            document.addEventListener("DOMContentLoaded", function() {

                var vacationDate = /*[[${vacation.vacationDate}]]*/ 'default_value';

                startCountdown(vacationDate);
            });

            function startCountdown(vacationDate) {
                document.querySelector('.tickcounter').setAttribute('data-dt', vacationDate);

                document.getElementById('countdownContainer').style.display = 'block';

                loadTickCounterScript();
            }

            function loadTickCounterScript() {
                (function(d, s, id) {
                    var js, pjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//www.tickcounter.com/static/js/loader.js";
                    pjs.parentNode.insertBefore(js, pjs);
                }(document, "script", "tickcounter-sdk"));
            }
        </script>

    </section>

    <!-- TO-DO: Add weather API-->


    <!-- TO-DO: Add local time API-->

    <!-- TO-DO: Add Spotify API-->
    <!--<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/42AymwrLaxhimExJMV3xFw?utm_source=generator"-->
    <!--        width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">-->
    <!--</iframe>-->


        <section class="video-container">

            <div th:each="activity: ${activities}">

                <iframe width="560" height="315" th:src="${activity.embedUrl}" allowfullscreen></iframe>

            </div>
        </section>

    <section class="notes">
        <h2>Notes</h2>
        <ul th:each="activity:${activities}">

<!--            Notes are also optional, so they only display if they are provided.-->

            <li th:unless="${activity.notes.isEmpty()}" class="videoCaption" th:text="${activity.title}+ ': ' + ${activity.notes}"></li>
        </ul>

    </section>

    <div class="activityNav">
        <a th:href="@{'/add-activity'}" class="btn btn-info" role="button">Add Trip Inspiration</a>&nbsp;
        <a th:href="@{'/delete-activity'}" class="btn btn-danger" role="button">Delete Trip Inspiration</a>&nbsp;
    </div>


</div>


</body>
</html>